{{define "layout"}}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>BookHub</h1>

    <nav>
        <a href="/web/books">Kitaplar</a>

        {{if .IsAuthenticated}}
        <span>Merhaba, {{.CurrentUser.Name}}</span>

        <form method="post" action="/web/logout" class="nav-form">
            <button type="submit" class="nav-button">Çıkış Yap</button>
        </form>
        {{else}}
        <a href="/web/login">Giriş Yap</a>
        <a href="/web/register">Kayıt Ol</a>
        {{end}}
    </nav>
</header>

<main>
    {{template "content" .}}
</main>
</body>
</html>
{{end}}