{{define "content"}}
<section>
    <h2>Kayıt Ol</h2>

    <form method="post" action="/web/register">
        <div>
            <label for="name">Ad</label>
            <input id="name" type="text" name="name" required>
        </div>

        <div>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required>
        </div>

        <div>
            <label for="password">Şifre</label>
            <input id="password" type="password" name="password" required>
        </div>

        <button type="submit">Kayıt Ol</button>
    </form>
</section>
{{end}}